#footer {
    font-family: 'Lato', serif;
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 1fr;
    position: sticky;
    margin: 0;
    background-color: rgba(254, 229, 222);
}

.footerLogo {
    width: 180px;
    display: block;
    margin: 10px auto;
    padding: 0;
}

.footerAddress {
    margin: 10px auto;
    display: block;
    width: 100%;
    padding-left: 25px;
}

.footerLink {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: 230px;
    /* padding: auto;
    margin: auto; */
}

.footerList ul {
    list-style: none;
    overflow: hidden;
    margin: 40px auto 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.footerList li {
    padding: 10px 6px;
    margin: 15px 10px;
    color: black;
}

.footerList a {
    font-family: 'lato', serif;
    font-size: 100%;
    padding: 6px 10px;
    text-decoration: black;
    color: black;
}

.footerList a:hover {
    background-color: rgba(250, 203, 190);
    text-decoration-color: black;
}

li.category_name {
    padding-left: 15px;
    margin: 2px 10px;
}

.part3 {
    display: none;
}

@media screen and (max-width: 800px) {
    .part1 {
        display: none;
    }
    #footer {
        padding: 10px 5%;
        grid-template-columns: 0 auto;
    }
    .footerLink {
        grid-template-rows: auto;
        grid-template-columns: repeat(3, minmax(160px, 200px));
    }
}

@media screen and (max-width: 500px) {
    .part1 {
        display: block;
    }
    img.footerLogo {
        margin: 0 auto;
    }
    .mapFooter {
        display: none;
    }
    #footer {
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 170px 65px;
    }
    .footerList {
        height: 170px;
    }
    .footerList ul {
        margin: 0;
    }
    .three {
        display: none;
    }
    .footerLink {
        grid-template-columns: 1fr 1fr;
        margin: 10px 15px;
    }
    .part3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px 40px;
        padding: 0;
    }
    .instapic {
        height: 60px;
    }
    .fbpic {
        margin: 8px 20px 5px 20px;
        height: 45px;
    }
}