    @use '../custom' as *;
    @use '../components/mixins' as *;
    .logo-top {
        height: 4rem;
        width: 4rem;
    }
    
    .menu {
        @include gradient;
        li {
            padding: 0 0.7rem;
            a {
                color: $white !important;
                text-transform: capitalize;
                font-weight: 600;
            }
        }
    }
    
    .blog-logo {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
    }